* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: whitesmoke;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}

.todo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
  width: 1000px;
  // width: 100vw;
  // height: 100vh;
}

/*-------------------------------------------------------------*/
/*-----Dark Theme----------------------------------------------*/
/*-------------------------------------------------------------*/

// body.dark {
//   background: #161616;
// }

body.dark * {
  color: white;
}

// body.dark * {
//   background: black;
// }

body.dark section {
  background: black;
}

body.dark .btn-select {
  border: 1px solid white;
  background: black;
}

body.dark .react-datepicker__month-container,
body.dark .react-datepicker__month,
body.dark .react-datepicker__header {
  background: black;
  color: white;
}

body.dark .react-datepicker__day:hover {
  background: white;
  color: black;
}

body.dark option{
  background: black;
}
// body.dark {
//   box-shadow: 0px 0px 5px 5px gray;
// }

// .background {
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   transition: opacity 500ms;
//   background-image: radial-gradient(circle at top, #353175 20%, #111);
// }
// .background.dark {
//   opacity: 1;
// }

#root {
  overflow: hidden;
}
