.todo__item {
  // max-width: 400px;
  width: 400px;
  display: flex;
  gap: 5px 5px;
  margin: 0 -3rem 4px;
  padding: 10px 10px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid #E4EAF1;
  transition: all 0.4s ease-in;
}

.todo__item:hover {
  // background-color: #f5f8fc;
}

.task__name:focus {
  padding: 5px 5px;
  border: 1px solid red;
}

.green {
  text-decoration: line-through;
}

.task__description {
  padding: 0px 15px;
  color: gray;
}
