.new-task {
  display: flex;
  flex-direction: column;
  gap: 30px 5px;
  margin: 30px 0px 20px 0px;
}

.wrapper {
  display: flex;
  gap: 5px;
  position: relative;
}

.new-task__input {
  width: 100%;
  padding: 17px 10px 15px 10px;
  font-size: 16px;
  color: black;
  outline: none;
  background: transparent;
  border-radius: 5px;
  border: 2px solid gray;
}

.new-task__label {
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 14px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.new-task__input:valid ~ .new-task__label,
.new-task__input:focus ~ .new-task__label {
  top: -2px;
  left: 10px;
  color: #007bff;
  font-size: 12px;
  background-color: #f8f9fa;
}

.new-task__input:focus,
.new-task__input:focus {
  border: 2px solid #007bff;
}

.new-task__button {
  min-width: 80px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 16px;
}

.new-task__button:hover {
  border: 2px solid #007bff;
  background: none;
  color: #007bff;
}

.new-task__descr {
  position: absolute;
  top: -10px;
  transform: translateY(-50%);
  left: 5px;
  font-size: 14px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.new-task__input {
  height: 2rem;
}

.new-task__button {
  height: 2.2rem;
}

// .example-custom-input{
//   min-width: 120px;
//   cursor: pointer;
//   padding: 5px 10px;
//   border: 0;
//   border-radius: 4px;
//   background-color: #216ba5;
//   color: #fff;
// }
