.label__wrapper{
  position: relative;
}

#_checkbox {
  display: none;
}

.label__check {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-color: #2196F3;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.label__check:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  // box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.label__check:hover:before {
  width: 16px;
  height: 16px;
  // box-shadow: inset 0 7px 10px #ff9d96;
}

.label__check:active {
  transform: translateY(-50%) scale(0.9);
}

// tick_mark

#tick_mark {
  position: absolute;
  top: 20px;
  left: -1px;

  // width: 10px;
  // height: 8px;
  margin: 0 auto;
  margin-left: 12px;
  transform: rotateZ(-40deg);
}

#tick_mark:before,
#tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
  left: 0;
  bottom: 0;
  width: 4px;
  height: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}

#tick_mark:after {
  left: 0;
  bottom: 0;
  width: 15px;
  height: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}

#_checkbox:checked + .label__check {
  background-color: #07d410;
  // box-shadow: 0 7px 10px #92ff97;
}

#_checkbox:checked + .label__check:before {
  width: 0;
  height: 0;
}

#_checkbox:checked + .label__check #tick_mark:before,
#_checkbox:checked + .label__check #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
