* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}

.todo {
  display: flex;
  align-items: center;
  gap: 50px;
}
