.todo__item {
  width: 100%;
  display: flex;
  gap: 5px 5px;
  padding: 10px 10px;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e4eaf1;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.task__name {
  font-weight: 400;
}

.todo__item_complete {
  text-decoration: line-through;
}

.todo__priority-none {
  border: 1px solid gray;
  border-radius: 5px;
}

.todo__priority-low {
  border: 1px solid blue;
  border-radius: 5px;
}

.todo__priority-medium {
  border: 1px solid orange;
  border-radius: 5px;
}

.todo__priority-high {
  border: 1px solid red;
  border-radius: 5px;
}
