.replay__wrapper {
  position: relative;
  margin-right: 5px;
  transform: translate(-1px, -2px);
  transition: 0.4s ease-in-out;

  &:hover {
    transform: translateY(0px);
    cursor: pointer;

    .replay__icon {
      fill: #007BFF;
      transform: translate(-49%, -47%) rotate(-180deg);
    }
  }

  .replay__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    transition: 0.4s ease-in-out;
    z-index: 1;
  }
}
